#contentHeader p {
	display: inline-block;
}

#studentsTable {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	table-layout: fixed;
	margin-bottom: 48px;
}

#studentsTable th {
	text-align: left;
	padding: 0 0 16px 0;
}

#studentsTable td {
	padding: 8px 0 8px;
	width: 25%;
}

#studentsTable tr:nth-child(odd) {
	background-color: #F4F4F4;
}

#attendanceTitle {
	margin: 0;
	margin-bottom: 32px;
}

.checkLabel {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
