#contentBody {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.listTable {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	table-layout: fixed;
}

.listHeading {
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #F4F4F4;
	width: 100%;
}

.listCell {
	text-align: right;
	padding-bottom: 8px;
	padding-top: 8px;
	width: 100%;
	white-space: nowrap;
}

#total {
	padding-top: 8px;
	text-align: right;
}
