body {
	margin: 0;
	border: 0;
	padding: 0;
}

#header {
	background: linear-gradient(#FFE738, #FFC72A);
	text-align: center;
	box-shadow: 0px 8px 4px #888888;
}

#header img {
	position: absolute;
	width: 256px;
	top: 0;
	left: 0;
}

#header h1 {
	display: inline-block;
}

#navbar {
	padding: 8px 0 8px 0;
	background-color: #F4F4F4;
	text-align: center;
	box-shadow: 0px 4px 2px #888888;
	border-top: 2px solid #C3C3C3;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar li {
	display: inline;
	padding-right: 3%;
	padding-left: 3%;
}

#navbar a {
	color: #000000;
	text-decoration: none;
	font-size: 1.25em;
}

#contentHeader {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
}